
<ion-content>

  <ion-grid fixed>
    <ion-row>
  
    <ion-col size-md="5" size="12" class="ion-padding">
       <img src="assets/img/sola_panel.jpg" class="ion-padding-vertical ion-margin-vertical">
    </ion-col>
  
    <ion-col class="ion-padding" >
      <h1 class=" ion-padding-start">
        Aquecimento – Vapor
  
      </h1>
      <p  class="ion-padding-horizontal">
        Temos como missão a implantação de novos conceitos em geração de energias, tais como a energia eólica, fotovoltaica e térmica, fototérmica, geração de vapor, aquecimento em geral. Disseminamos novas técnicas para iluminação, preservação do meio ambiente além do desenvolvimento de equipamentos de segurança para armazéns, industrias, sítios, fazendas.    </p>
        <p  class="ion-padding-horizontal">
        Reunimos um time de especialistas e consultores com extensa vivência nas mais diversas áreas de negócios em energias renováveis e na prospecção de novas técnicas para cada vez mais oferecer aos nossos clientes tecnologia de ponta em se tratando de sustentabilidade.    </p>
        
  
    </ion-col>
  </ion-row>
  <ion-row>
      <ion-col class="ion-padding" >
      <h1 class=" ion-padding-start">
       Conheça nossa Linha de Produtos
  
      </h1>
      <p  class="ion-padding-horizontal">
        Temos como missão a implantação de novos conceitos em geração de energias, tais como a energia eólica, fotovoltaica e térmica, fototérmica, geração de vapor, aquecimento em geral. Disseminamos novas técnicas para iluminação, preservação do meio ambiente além do desenvolvimento de equipamentos de segurança para armazéns, industrias, sítios, fazendas.    </p>
        <p  class="ion-padding-horizontal">
        Reunimos um time de especialistas e consultores com extensa vivência nas mais diversas áreas de negócios em energias renováveis e na prospecção de novas técnicas para cada vez mais oferecer aos nossos clientes tecnologia de ponta em se tratando de sustentabilidade.    </p>
       </ion-col>
    <ion-col size-md="5" size="12" class="ion-padding">
      <img src="assets/img/sola_panel.jpg" class="ion-padding-vertical ion-margin-vertical">
   </ion-col>
  </ion-row>
  </ion-grid>
</ion-content>
