<section>
  <ion-grid fixed>
    <ion-row>
      <ion-col size-md="5" size="12" class="ion-padding">
        <img src="assets/img/logistic.jpg" class="ion-padding-vertical ion-margin-vertical">
      </ion-col>
      <ion-col class="ion-padding">
        <h2 class=" ion-padding-start">
          Logística </h2>
        <h3 class="ion-padding-horizontal">
          Equipamentos com iluminação led auxiliando no processo de carga descarga para docas</h3>
          <p class="ion-padding-horizontal">Dock Light - Suporte Mecânico com articulações e travas para docas</p>
        <hr>
        <h3 class="ion-padding-horizontal">
          Equipamentos com iluminação led com camera ip de alta resolução para o monitoramento e a iluminação no 
          processo de carga descarga para doca</h3>
        <p class="ion-padding-horizontal">
          Dock Light Monitor – Suporte Mecânico com articulações e travas contendo refletor Led – Câmera IP para o
          monitoramento do processo carregamento e ou descarregamento
        </p>
        <hr>
        <h3 class="ion-padding-horizontal">
          Ventilação – iluminação para docas</h3>
        <p class="ion-padding-horizontal">
          Dock Light Fan - Suporte Mecânico com articulações e travas contendo refletor Led – ventilador Industrial
          Axial com a Dimensão 50x147mm proporcionando conforto em dias de calor no processo carregamento e ou
          descarregamento
          <hr>
        <h3 class="ion-padding-horizontal">
          Sinalização para docas</h3>
        <p class="ion-padding-horizontal">
          Luzes indicativas de ocupação de docas
        </p>
      </ion-col>
    </ion-row>
    </ion-grid>
</section>

    <section class="bg-gray">
      <ion-grid fixed>
       
    <ion-row>

      <ion-col class="ion-padding">
        <h2 class=" ion-padding-start">
          Elétrica
        </h2>
        <ul>
          <li>Projetos elétricos e serviços </li>
          <li>Manutenção eletrica</li>
          <li>Medição – entrada de energia em alta tensão </li>
          <li>Transformação – entrada de energia em média tensão </li>
          <li>Entrada de energia em média tensão </li>
          <li>Projeto executivo – eletrica estabilizada </li>
          <li>Instalação – entrada de energia em baixa tensão </li>
          <li>Cabine primaria</li>
        </ul>

      </ion-col>
      <ion-col size-md="5" size="12" class="ion-padding">
        <img src="assets/img/eletrica.jpg" class="eletric ion-padding-vertical ion-margin-vertical">
      </ion-col>
    </ion-row>
</ion-grid>
    </section>
    <section>
      <ion-grid fixed>
    
    <ion-row>
      <ion-col size-md="5" size="12" class="ion-padding">
        <img src="assets/img/solar.jpg" class="ion-padding-vertical ion-margin-vertical">
      </ion-col>
      <ion-col class="ion-padding">
        <h2 class=" ion-padding-start">
          Energia Solar
        </h2>
        <ul>
          <li>Projetos e serviços em energia solar fotovoltaica </li>
          <li>Projetos e serviços bombeamento de água por energia solar</li>
          <li>Aquecimento solar fototermico e fototermico</li>
        </ul>
      </ion-col>
    </ion-row>
    </ion-grid>
    </section>

    <section  class="bg-gray">
      <ion-grid fixed>
    <ion-row>

      <ion-col class="ion-padding">
        <h2 class=" ion-padding-start">
          Hidráulica – Vapor
        </h2>
        <ul>
          <li>Projetos e serviços em geração de calor </li>
          <li>Geração de vapor </li>
          <li>Hidraulica </li>
          <li>Bombas de calor </li>
          <li>Aquecimento solar</li>
          <li>Aquecimento de agua </li>
          <li>Manutenção - corretiva</li>
        </ul>
      </ion-col>
      <ion-col size-md="5" size="12" class="ion-padding">
        <img src="assets/img/caldeira.webp" class="ion-padding-vertical ion-margin-vertical">
      </ion-col>
    </ion-row>
    </ion-grid>
    </section>
    <section>
      <ion-grid fixed>
    <ion-row>
      <ion-col size-md="5" size="12" class="ion-padding">
        <img src="assets/img/ti.jpg" class="ion-padding-vertical ion-margin-vertical">
      </ion-col>
      <ion-col class="ion-padding">
        <h2 class=" ion-padding-start">
          T.I. Data Center
        </h2>
        <ul>
          <li>Cabeamento rede estruturado – t.I </li>
          <li>Adequação de racks – dados </li>
          <li>Estrururamento de datacenter</li>
          <li>Adequação de datacenter</li>
        </ul>
      </ion-col>
    </ion-row>
    </ion-grid>
    </section>
    <section  class="bg-gray">
      <ion-grid fixed>
    <ion-row>
      <ion-col class="ion-padding">
        <h2 class=" ion-padding-start">
          Iluminação
        </h2>
        <ul>
          <li>Adequação e retrofit em iluminação </li>
          <li>Projetos e serviços em iluminação led áreas industriais </li>
          <li>Iluminação para áreas classificas a prova de explosão </li>
          <li>Projetos iluminação para armazens, escritórios, areas rurais</li>
          <li>Manutenção em luminarias led</li>
          <li>Luminarias ex - iluminação prova explosão</li>
        </ul>
      </ion-col>
      <ion-col size-md="5" size="12" class="ion-padding">
        <img src="assets/img/light.png" class="ion-padding-vertical ion-margin-vertical">
      </ion-col>
    </ion-row>



    
  </ion-grid>

</section>

<section class="bg-3">
  <app-carrossel></app-carrossel>
</section>

