
<ion-content>

  <ion-grid fixed>
    <ion-row>
  
    <ion-col size-md="5" size="12" class="ion-padding">
       <img src="assets/img/led2.jpeg" class="ion-padding-vertical ion-margin-vertical">
       <img src="assets/img/led3.jpeg" class="ion-padding-vertical ion-margin-vertical">

      </ion-col>
  
    <ion-col class="ion-padding" >
      <h1 class=" ion-padding-start">
        Iluminação Profissional  
      </h1>
      <p  class="ion-padding-horizontal">
        Uma das pioneiras em fabricação de luminárias LED no Brasil, nos orgulhamos em fazer história, entregando produtos de alto padrão para o segmento de iluminação profissional.
        <p  class="ion-padding-horizontal">Trazemos em nosso DNA, inovação e design para diferenciar os resultados atingidos pelos nossos produtos. Tudo isso em conjunto com nossa história de qualidade e tecnologia, gerando assim resultados para nossos clientes, mais rápidos e mais duradouros!</p>
          <p  class="ion-padding-horizontal">A busca pelos melhores resultados é o que torna possível nossa caminhada, já que estamos presentes no mercado desde 2008, tendo sempre em mente que o produto final deve tornar-se sinônimo de eficiência energética e economia.</p>
          <p  class="ion-padding-horizontal">Projetos Luminotécnico de acordo com o perfil de sua empresa seguindo diretrizes da ABNT</p>
            <p  class="ion-padding-horizontal">PROJETO, UMA SOLUÇÃO. MODERNIZE E ECONOMIZE!</p>
              <p  class="ion-padding-horizontal">Somos a solução Completa em Iluminação e LED:</p>
                <p  class="ion-padding-horizontal">Projeto, Produtos e Instalação</p>
                  <p  class="ion-padding-horizontal">Nosso Projeto não tem Custo.</p>
                    <p  class="ion-padding-horizontal">*Somente para pessoa jurídica. Não atendemos pessoa física.</p>
   
  
    </ion-col>
  </ion-row>
]
  </ion-grid>
</ion-content>
