
<ion-content>
  <ion-grid no-margin no-padding>
     <ion-row class="bg-map" navPush="EstacionarPage" justify-content-center align-items-center >
        <ion-col col-12 text-center class="ion-margin-horizontal">
         
          <ion-img  src="assets/img/logo.png" class="logo"></ion-img>

         </ion-col>
    </ion-row>

     <ion-row>
      <ion-col>
         <button navPush="VeiculosPage">
          <i class="far fa-building"></i> História
         </button>
      </ion-col>
        <ion-col>
           <button navPush="ChecksPage">
            <i class="fas fa-solar-panel" padding></i>

           Painel Solar 
           </button>
        </ion-col>
        <ion-col>
           <button navPush="AtivoPage">
           <span class="far fa-lightbulb"></span>
           Iluminação profissional
           </button>
        </ion-col>
       
     </ion-row>
     <ion-row>

      <ion-col>
         <button navPush="HistoricoPage">
       <i class="fas fa-briefcase"></i>
         Outros Serviços
         </button>
      </ion-col>
 
        <ion-col>
           <button navPush="TicketsPage">
           <i class="fab  fa-whatsapp"></i>
          Contato 1
           </button>
        </ion-col>
        <ion-col>
           <button navPush="CardsPage" >
           <i class="fab  fa-whatsapp"></i>
           Contato 2
           </button>
        </ion-col>
       
     </ion-row>
     <ion-row>
      <ion-col>
         <button navPush="CardPage">
         <i class="fab fa-whatsapp"></i>
         Contato 3
         </button>
         
      </ion-col>
        <ion-col>
          <button navPush="VeiculosPage">
          <i class="fab fa-facebook"></i>
          Facebook
          </button>
       </ion-col>
       <ion-col>
        <button navPush="CardPage">
        <i class="fas fa-phone"></i>
        Ligar Agora
        </button>
      </ion-col>
     </ion-row>
    
  </ion-grid>
</ion-content>