
<ion-content>
  <ion-grid no-margin no-padding>
     <ion-row class="bg-map" navPush="EstacionarPage" justify-content-center align-items-center >
        <ion-col col-12 text-center class="ion-margin-horizontal">
         
          <ion-img  src="assets/img/logo.png" class="logo"></ion-img>

         </ion-col>
    </ion-row>

     <ion-row>
      <ion-col>
         <button  (click)="quemSomos()">
          <i class="far fa-building" ></i> História
         </button>
      </ion-col>
        <ion-col>
           <button  (click)="painelSolar()">
            <i class="fas fa-solar-panel" padding></i>

           Painel Solar 
           </button>
        </ion-col>
        <ion-col>
           <button  (click)="iluminacaoProf()">
           <span class="far fa-lightbulb"></span>
           Iluminação profissional
           </button>
        </ion-col>
       
     </ion-row>
     <ion-row>

      <ion-col>
         <button (click)="outrosServ()">
       <i class="fas fa-briefcase"></i>
         Outros Serviços
         </button>
      </ion-col>
 
        <ion-col>
           <button href="https://api.whatsapp.com/send?phone=5511993047125&amp;text=Ol%C3%A1%20visitei%20o%20site%20da%20Technosol%20e%20gostaria%20de%20maiores%20informa%C3%A7%C3%B5es">
           <i class="fab  fa-whatsapp"></i>
          Whatsapp1
           </button>
        </ion-col>
        <ion-col>
         <button href="https://api.whatsapp.com/send?phone=5518996776527&amp;text=Ol%C3%A1%20visitei%20o%20site%20da%20Technosol%20e%20gostaria%20de%20maiores%20informa%C3%A7%C3%B5es">
            <i class="fab  fa-whatsapp"></i>
           Whatsapp2
            </button>
        </ion-col>
       
     </ion-row>
     <ion-row>
      <ion-col>
         <button href="https://api.whatsapp.com/send?phone=5518996776527&amp;text=Ol%C3%A1%20visitei%20o%20site%20da%20Technosol%20e%20gostaria%20de%20maiores%20informa%C3%A7%C3%B5es">
            <i class="fab  fa-whatsapp"></i>
           Whatsapp3
            </button>
         
      </ion-col>
        <ion-col>
          <button navPush="VeiculosPage">
          <i class="fab fa-facebook"></i>
          Facebook
          </button>
       </ion-col>
       <ion-col>
        <button navPush="CardPage">
        <i class="fas fa-phone"></i>
        Ligar Agora
        </button>
      </ion-col>
     </ion-row>
    
  </ion-grid>
</ion-content>