img.icon {
    max-width: 80%;
    margin: 10%;
}

.vertical-align-content > *
{
     display: flex!important;
     align-content: center!important;
     align-items: center!important;
}

.results-box {
    --ion-background-color:#fbfbfb;
}

ion-card{
    overflow: scroll;
}

.border{
    border-bottom: 1px dotted #ccc;
    p{
        text-align: right;
    }
}

 p {
    font-size: 14px;
    color: black;
   
}

 h4{
    font-size:16px;
    color: black;
}

.action{
    margin-top: 9%;
    border: 1px solid #c7c7c7;
    height: 41px;
    width: 100%;
    background-color: #c7bebe;
    color: #fff;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 700;
}

.action-2{
    margin-top: 9%;
    border: 1px solid #eba016;
    height: 41px;
    width: 100%;
    background-color: #EB9840;
    color: #fff;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 700;
    box-sizing: border-box;
    float: left;
    text-align: center;
    text-decoration: none;
    line-height: 41px;
  }