img.icon {
    max-width: 80%;
    margin: 10%;
}

.vertical-align-content > *
{
     display: flex!important;
     align-content: center!important;
     align-items: center!important;
}

.results-box {
    --ion-background-color:#fbfbfb;
}

ion-card{
    overflow: scroll;
}

.border{
    border-bottom: 1px dotted #ccc;
    p{
        text-align: right;
    }
}

 p {
    font-size: 14px;
    color: black;
   
}

 h4{
    font-size:16px;
    color: black;
}