<ion-grid fixed  class="ion-margin-top ionn-padding-top" >
 <ion-row class="ion-margin-horizontal" class='animatedParent'>
    <ion-col size-md="4" size="12">
      <ion-card class='animated bounceInDown'>
        <div class="img-header">

        <img src="assets/img/home-1.jpg" />
        </div>
        <ion-card-header>
         
          <ion-card-title color="secondary">    
             <i class="fas fa-solar-panel"></i> Painel solar</ion-card-title>
        </ion-card-header>
      
        <ion-card-content>
          O Portal Solar é o maior portal de energia solar da América Latina, com mais de 15 mil clientes satisfeitos, 2 mil instaladores certificados e uma rede de suporte técnico a nível nacional.


        </ion-card-content>
        <ion-row>
          <ion-col>
            <button expand="block" fill="outline" color="primary" (click)="painelSolar()">
              Saiba 
              <i class="fas fa-plus"></i>
            </button>
          </ion-col>
        </ion-row>
      </ion-card>
      
    
    </ion-col>
    <ion-col size-md="4" size="12">
      <ion-card class='animated bounceInDown'>
        <div class="img-header">
          <img src="assets/img/led1.jpeg" />
  </div>
        <ion-card-header>
        
          <ion-card-title color="secondary">
            <i class="far fa-lightbulb"></i>
            Iluminação Profissional</ion-card-title>
        </ion-card-header>
      
        <ion-card-content>
          Uma das pioneiras em fabricação de luminárias LED no Brasil, nos orgulhamos em fazer história, entregando produtos de alto padrão para o segmento de iluminação profissional.

        </ion-card-content>
        <ion-row>
          <ion-col>
            <button expand="block" fill="outline" (click)="iluminacaoProf()">
              Saiba 
              <i class="fas fa-plus"></i>
            </button>
  
          </ion-col>
        </ion-row>
      </ion-card>
      
    
    </ion-col>
    <ion-col size-md="4" size="12">
      <ion-card class='animated bounceInDown'>
       <div class="img-header">
        <img src="assets/img/caldeiras.jpg" />
       </div> 
  
        <ion-card-header>
        
          <ion-card-title color="secondary"> 
            <i class="fas fa-tools"></i>
            Aquecimento Solar  Vapor
          </ion-card-title>
        </ion-card-header>
      
        <ion-card-content >
          <div>
            <p>
              A principal vantagem do aquecedor solar industrial é a economia de energia, seja eletricidade, gás, lenha ou qualquer outra utilizada para aquecimento de água ou outros fluidos
        </p>  
        </div>
        </ion-card-content>
  
        <ion-row>
          <ion-col>
            <button expand="block" fill="outline" (click)="outrosServ()">
              Saiba 
              <i class="fas fa-plus"></i>
            </button>
  
          </ion-col>
        </ion-row>
      </ion-card>
      
    
    </ion-col>
  </ion-row>
  
  
  </ion-grid>