<ion-grid fixed  class="ion-margin-top ionn-padding-top" >
 <ion-row class="ion-margin-horizontal" class='animatedParent'>
    <ion-col size-md="4" size="12">
      <ion-card class='animated bounceInDown'>
        <img src="assets/img/home-1.jpg" />
        <ion-card-header>
         
          <ion-card-title color="secondary">    
             <i class="fas fa-solar-panel"></i> Painel solar</ion-card-title>
        </ion-card-header>
      
        <ion-card-content>
          O Portal Solar é o maior portal de energia solar da América Latina, com mais de 15 mil clientes satisfeitos, 2 mil instaladores certificados e uma rede de suporte técnico a nível nacional.


        </ion-card-content>
        <ion-row>
          <ion-col>
            <ion-button expand="block" fill="outline" color="primary" (click)="painelSolar()">
              Saiba 
              <i class="fas fa-plus"></i>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-card>
      
    
    </ion-col>
    <ion-col size-md="4" size="12">
      <ion-card class='animated bounceInDown'>
        <img src="assets/img/home-1.jpg" />
  
        <ion-card-header>
        
          <ion-card-title color="secondary">
            <i class="far fa-lightbulb"></i>
            Iluminação Profissional</ion-card-title>
        </ion-card-header>
      
        <ion-card-content>
          Keep close to Nature's heart... and break clear away, once in awhile,
          and climb a mountain or spend a week in the woods. Wash your spirit clean.
        </ion-card-content>
        <ion-row>
          <ion-col>
            <ion-button expand="block" fill="outline" (click)="iluminacaoProf()">
              Saiba 
              <i class="fas fa-plus"></i>
            </ion-button>
  
          </ion-col>
        </ion-row>
      </ion-card>
      
    
    </ion-col>
    <ion-col size-md="4" size="12">
      <ion-card class='animated bounceInDown'>
        <img src="assets/img/home-1.jpg" />
  
        <ion-card-header>
        
          <ion-card-title color="secondary"> 
            <i class="fas fa-tools"></i>
            Aquecimento – Vapor
          </ion-card-title>
        </ion-card-header>
      
        <ion-card-content >
          <div>
            <p>
            Keep close to Nature's heart... and break clear away, once in awhile,
          and climb a mountain or spend a week in the woods. Wash your spirit clean.
        </p>  
        </div>
        </ion-card-content>
  
        <ion-row>
          <ion-col>
            <ion-button expand="block" fill="outline" (click)="outrosServ()">
              Saiba 
              <i class="fas fa-plus"></i>
            </ion-button>
  
          </ion-col>
        </ion-row>
      </ion-card>
      
    
    </ion-col>
  </ion-row>
  
  
  </ion-grid>