
<ion-grid fixed>
  <ion-row>

  <ion-col size-md="5" size="12" class="ion-padding">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3656.2739015810034!2d-46.734929085149936!3d-23.59450788466638!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce5693d1d58f33%3A0x21995d349e3e40d2!2sR.%20Joaquim%20Galv%C3%A3o%2C%20198%20-%20Vila%20Sonia%2C%20S%C3%A3o%20Paulo%20-%20SP%2C%2005627-010!5e0!3m2!1spt-BR!2sbr!4v1611698096630!5m2!1spt-BR!2sbr" width="100%" height="300" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>  </ion-col>

  <ion-col class="ion-padding" >
    <h1 class=" ion-padding-start">
      Fale com a Technosol
    </h1>
    <p  class="ion-padding-horizontal">
     Fale conosco agora e conheça mais do que podemos oferecer.
    </p>
    <form class="ion-padding-horizontal" [formGroup]="form"> 
      <ion-item >
        <ion-label position="floating">Nome</ion-label>
        <ion-input type="text" required formControlName="nome"></ion-input>
        <span *ngIf="ifError && form.controls.nome.invalid" class="alert-danger">
          Informe seu nome
      </span>
      </ion-item>
  
      <ion-item  >
        <ion-label position="floating">Email</ion-label>
        <ion-input type="email" required formControlName="email"></ion-input>
        <span *ngIf="ifError && form.controls.email.invalid" class="alert-danger">
          Informe um email valido
      </span>
      </ion-item>
  
      <ion-item >
        <ion-label position="floating">Telefone</ion-label>
        <ion-input type="tel" required formControlName="tel" mask="(00) 0000-0000"></ion-input>
        <span *ngIf="ifError && form.controls.tel.invalid" class="alert-danger">
          Informe um telefone valido
      </span>
        <input type="hidden"  formControlName="pagina" >

      </ion-item>
  
      <ion-row>
        <ion-col>
          <ion-button type="button" color="primary" (click)="saveUSer(form.value)" expand="block">Enviar</ion-button>
        </ion-col>
      </ion-row>
    </form>
  </ion-col>
</ion-row>
</ion-grid>