
<ion-grid fixed>
  <ion-row>

  <ion-col size-md="5" size="12" class="ion-padding">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3656.395019279112!2d-46.817602584406245!3d-23.590162068543076!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce55a50def8a87%3A0xb41705a991bbd733!2sTecnosol%20Aquecedores%20solares!5e0!3m2!1spt-BR!2sbr!4v1601749852459!5m2!1spt-BR!2sbr" width="100%" height="350" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
  </ion-col>

  <ion-col class="ion-padding" >
    <h1 class=" ion-padding-start">
      Fale com a Technosol
    </h1>
    <p  class="ion-padding-horizontal">
     Fale conosco agora e conheça mais do que podemos oferecer.
    </p>
    <form class="ion-padding-horizontal" > 
      <ion-item >
        <ion-label position="floating">First name</ion-label>
        <ion-input type="text" required></ion-input>
      </ion-item>
  
      <ion-item  >
        <ion-label position="floating">Email</ion-label>
        <ion-input type="text" required></ion-input>
      </ion-item>
  
      <ion-item >
        <ion-label position="floating">Telefone</ion-label>
        <ion-input type="tel" required></ion-input>
      </ion-item>
  
      <ion-row>
        <ion-col>
          <ion-button type="button" color="primary" (click)="onSubbmit()" expand="block">Enviar</ion-button>
        </ion-col>
      </ion-row>
    </form>
  </ion-col>
</ion-row>
</ion-grid>