<ion-grid fixed>
     <ion-row>
    <ion-col size="3" (click)="home()">
       <img src="assets/img/logo.png" class="logo-desktop">
    </ion-col>
    <ion-col size="9">
       <ion-row>
          <ion-col col-2 text-center>
             <p navPush="EstacionarPage">
                  <a color="secondary" (click)="quemSomos()" >
               <i class="far fa-building"></i> Quem Somos
              </a>
            </p>
         
            </ion-col>
          <ion-col col-2  text-center>
            <p navPush="CheckPage"> 
               <a color="secondary" (click)="painelSolar()" >  <i class="fas fa-solar-panel"></i>
               Painéis Solares</a></p>
         </ion-col>
         <ion-col col-2  text-center>
            <p navPush="CheckPage">
                 <a color="secondary" (click)="iluminacaoProf()"><i class="far fa-lightbulb"></i>
               Iluminação Prof.
            </a></p>
         </ion-col>
         <ion-col col-2  text-center>
            <p navPush="CheckPage">
                 <a color="secondary" (click)="outrosServ()"> 
               <i class="fas fa-tools"></i>
               Outros Serviços
            </a></p>
         </ion-col>
          <ion-col col-2  text-center>
             <p navPush="AtivoPage">
                  <a color="secondary" (click)="contato()">
               <i class="fas fa-headset"></i> 
               Fale Conosco
            </a></p>
          </ion-col>
      </ion-row>
    </ion-col>
 </ion-row>
</ion-grid>
 
 

