
  <ion-row>
    <ion-col col-4>
       <img src="assets/img/logo.png" class="logo-desktop">
    </ion-col>
    <ion-col col-8>
       <ion-row>
          <ion-col col-2 text-center>
             <p navPush="EstacionarPage"> Estacionar</p>
          </ion-col>
          <ion-col col-2  text-center>
             <p navPush="CheckPage">Checkin</p>
          </ion-col>
          <ion-col col-2  text-center>
             <p navPush="AtivoPage">Ativos</p>
          </ion-col>
          <ion-col col-2  text-center>
             <p navPush="HistoricoPage">Histórico</p>
          </ion-col>
          <ion-col col-2  text-center>
             <p navPush="CheckPage">Seja Parceiro</p>
          </ion-col>
          <ion-col col-2 text-center >
             <p navPush="CheckPage"> Sair</p>
          </ion-col>
       </ion-row>
    </ion-col>
 </ion-row>

