
<ion-content>

  <ion-grid fixed>
    <ion-row>
  
    <ion-col size-md="5" size="12" class="ion-padding">
       <img src="assets/img/energia_solar.jpeg" class="ion-padding-vertical ion-margin-vertical">
    </ion-col>
  
    <ion-col class="ion-padding" >
      <h1 class=" ion-padding-start">
        Painéis Solares
  
      </h1>
      <p  class="ion-padding-horizontal">
        Energia solar é a energia proveniente da luz e do calor do Sol que é aproveitada e utilizada por meio de diferentes tecnologias, principalmente como o aquecimento solar, energia solar fotovoltaica, energia heliotérmica e arquitetura solar.
        <p  class="ion-padding-horizontal">
          A energia solar é uma forma limpa e sem danos a natureza de se gerar energia elétrica, e por ser uma fonte de energia renovável baseada no sol, a energia solar tem um grande aproveitamento, sendo o calor e a luz solar como umas das fontes mais aproveitáveis e promissoras energias no mundo, renovável e sustentável.        
  
    </ion-col>
  </ion-row>
  <ion-row>
   
    <ion-col class="ion-padding" >
      <h1 class=" ion-padding-start">
        Conheça nossa Linha de Produtos
  
      </h1>
      <p  class="ion-padding-horizontal">
        Temos como missão a implantação de novos conceitos em geração de energias, tais como a energia eólica, fotovoltaica e térmica, fototérmica, geração de vapor, aquecimento em geral. Disseminamos novas técnicas para iluminação, preservação do meio ambiente além do desenvolvimento de equipamentos de segurança para armazéns, industrias, sítios, fazendas.    </p>
        <p  class="ion-padding-horizontal">
        Reunimos um time de especialistas e consultores com extensa vivência nas mais diversas áreas de negócios em energias renováveis e na prospecção de novas técnicas para cada vez mais oferecer aos nossos clientes tecnologia de ponta em se tratando de sustentabilidade.    </p>
        
  
    </ion-col>
    <ion-col size-md="5" size="12" class="ion-padding">
      <img src="assets/img/solar2.jpg" class="ion-padding-vertical ion-margin-vertical">
   </ion-col>
  </ion-row>
  </ion-grid>
</ion-content>
<iframe src="https://www.portalsolar.com.br/calculo-solar/iframe" style="width:100%;height:1400px;border-style:none"></iframe><p style="font-size:10px">Desenvolvido por <a target="_blank" href="https://www.portalsolar.com.br">Portal Solar</a></p>