<ion-grid fixed class="ion-margin-top ionn-padding-top">
  <ion-row class="ion-margin-horizontal" class='animatedParent'>
    <ion-col size-md="4" size="12">
      <ion-slides [options]="slideOpts">
        <ion-slide>
          <div class="slide">
            <img src="assets/img/clientes/cizano.svg" />

          </div>
        </ion-slide>

        <ion-slide>
          <img src="assets/img/clientes/baxter.svg" />
        </ion-slide>

        <ion-slide>
          <img src="assets/img/clientes/dhl.svg" />
        </ion-slide>


        <ion-slide>
          <img src="assets/img/clientes/ford.svg" />
        </ion-slide>


        <ion-slide>
          <img src="assets/img/clientes/gm.svg" />
        </ion-slide>


        <ion-slide>
          <img src="assets/img/clientes/mondelez.svg" />
        </ion-slide>

        <ion-slide>
          <img src="assets/img/clientes/libercon.png" />
        </ion-slide>


        <ion-slide>
          <img src="assets/img/clientes/natura.svg" />
        </ion-slide>


        <ion-slide>
          <img src="assets/img/clientes/racional.jpg" />
        </ion-slide>

        <ion-slide>
          <img src="assets/img/clientes/siemens.png" />
        </ion-slide>

        <ion-slide>
          <img src="assets/img/clientes/tdk.png" />

        </ion-slide>

        <ion-slide>
          <img src="assets/img/clientes/coruripe.png" />

        </ion-slide>
        <ion-slide>
          <img src="assets/img/clientes/brf.png" />

        </ion-slide>

        <ion-slide>
          <img src="assets/img/clientes/ajinomoto.svg" />

        </ion-slide>

        <ion-slide>
          <img src="assets/img/clientes/durr.svg" />

        </ion-slide>
        <ion-slide>
          <img src="assets/img/clientes/bosh.png" />

        </ion-slide>
        <ion-slide>
          <img src="assets/img/clientes/rhodia.png" />

        </ion-slide>
        <ion-slide>
          <img src="assets/img/clientes/scania.svg" />

        </ion-slide>
        <ion-slide>
          <img src="assets/img/clientes/moinhos.png" />

        </ion-slide>
        <ion-slide>
          <img src="assets/img/clientes/pg.jpg" />

        </ion-slide>
        <ion-slide>
          <img src="assets/img/clientes/votorantin.png" />

        </ion-slide>

        <ion-slide>
          <img src="assets/img/clientes/3coracoes.png" />

        </ion-slide>

        <ion-slide>
          <img src="assets/img/clientes/medley.png" />

        </ion-slide>

        <ion-slide>
          <img src="assets/img/clientes/pepsico.svg" />

        </ion-slide>

        <ion-slide>
          <img src="assets/img/clientes/rb.png" />

        </ion-slide>

      </ion-slides>
    </ion-col>
  </ion-row>
</ion-grid>