<ion-grid fixed class="ion-margin-top ionn-padding-top">

  <ion-row class="ion-margin-horizontal" class='animatedParent'>
    <ion-col size="12">
      <ion-text color="light"> 
        <h2 class="title">Clientes</h2>
     </ion-text>
      </ion-col>
    </ion-row>    
  <ion-row class="ion-margin-horizontal" class='animatedParent'>
    <ion-col size="12">
      <ion-slides [options]="slideOpts">
        <ion-slide>
          <div class="slide">
            <img src="assets/img/clientes/1.png" />
          </div>
        </ion-slide>
        <ion-slide>
          <img src="assets/img/clientes/2.png" />
        </ion-slide>
        <ion-slide>
          <img src="assets/img/clientes/3.png" />
        </ion-slide>
        <ion-slide>
          <img src="assets/img/clientes/4.png" />
        </ion-slide>
        <ion-slide>
          <img src="assets/img/clientes/5.png" />
        </ion-slide>
       <ion-slide>
          <img src="assets/img/clientes/6.png" />
        </ion-slide>
        <ion-slide>
          <img src="assets/img/clientes/7.png" />
        </ion-slide>
        <ion-slide>
          <img src="assets/img/clientes/8.png" />
        </ion-slide>
        <ion-slide>
          <img src="assets/img/clientes/9.png" />
        </ion-slide>
        <ion-slide>
          <img src="assets/img/clientes/10.png" />
        </ion-slide>
        <ion-slide>
          <img src="assets/img/clientes/11.png" />
        </ion-slide>
       <ion-slide>
          <img src="assets/img/clientes/12.png" />
        </ion-slide>
        <ion-slide>
          <img src="assets/img/clientes/13.jpg" />
       </ion-slide>
        <ion-slide>
          <img src="assets/img/clientes/14.png" />
        </ion-slide>
        <ion-slide>
          <img src="assets/img/clientes/15.png" />
        </ion-slide>
        <ion-slide>
          <img src="assets/img/clientes/16.png" />
        </ion-slide>
        <ion-slide>
          <img src="assets/img/clientes/17.png" />
        </ion-slide>
        <ion-slide>
          <img src="assets/img/clientes/18.png" />
        </ion-slide>
        <ion-slide>
          <img src="assets/img/clientes/19.png" />
        </ion-slide>
        <ion-slide>
          <img src="assets/img/clientes/22.jpg" />
        </ion-slide>
        <ion-slide>
          <img src="assets/img/clientes/21.png" />
        </ion-slide>
        <ion-slide>
          <img src="assets/img/clientes/22.png" />
        </ion-slide>
        <ion-slide>
          <img src="assets/img/clientes/23.png" />
        </ion-slide>
        <ion-slide>
          <img src="assets/img/clientes/24.png" />
        </ion-slide>
        <ion-slide>
          <img src="assets/img/clientes/25.jpg" />
        </ion-slide>
        <ion-slide>
          <img src="assets/img/clientes/26.png" />
        </ion-slide>
        <ion-slide>
          <img src="assets/img/clientes/27.png" />
        </ion-slide>
        <ion-slide>
          <img src="assets/img/clientes/28.png" />
        </ion-slide>
        <ion-slide>
          <img src="assets/img/clientes/29.png" />
        </ion-slide>
        <ion-slide>
          <img src="assets/img/clientes/30.png" />
        </ion-slide>
        <ion-slide>
          <img src="assets/img/clientes/31.png" />
        </ion-slide>
        <ion-slide>
          <img src="assets/img/clientes/32.png" />
        </ion-slide>
        <ion-slide>
          <img src="assets/img/clientes/33.png" />
        </ion-slide>
        <ion-slide>
          <img src="assets/img/clientes/34.png" />
        </ion-slide>
        <ion-slide>
          <img src="assets/img/clientes/35.png" />
        </ion-slide>

      </ion-slides>
    </ion-col>
  </ion-row>
</ion-grid>