
  <ion-grid fixed>

  <ion-row class="ion-margin-horizontal">
    <ion-col>
    <ion-text color="light">  <h2>Calcule Online</h2>
      <p> Calcule o valor estimado de economia.</p>
    </ion-text>
    </ion-col>
  </ion-row>
  <form>   <ion-row class="ion-margin-horizontal">
            <ion-col size-md="3" size="12" class="ion-padding">
              <ion-text color="light"> 
               <ion-label>Media</ion-label>
            </ion-text>
             <input type="number" id="kwh" pattern="[0-9]+"  (change)="onchangeValueMedia($event)"  required [(ngModel)]="kwhInput" name="kwhInput" class="form-control">
             <input type="hidden" value="testeinputhidden" id="metainput">

            </ion-col>
            <ion-col size-md="2" size="12" class="ion-padding" [hidden]="!showEstados">
              <ion-text color="light"> 
                  <ion-label>Estado</ion-label>
                  </ion-text>
             <select (change)="onSelectEstado($event)" class="form-control" id="estados"  >
               <option *ngFor="let estado of estados?.data"
                [value]="estado.uf_nome">
                 {{estado.nome}}
               </option>
             </select>
            </ion-col>
            <ion-col size-md="4" size="12" class="ion-padding" [hidden]="!showCidades">
              <ion-text color="light"> 
                  <ion-label>Distribuidoras</ion-label>
                  </ion-text>
              <select id="cidades" class="form-control" (change)="onSelectcidade($event)" [(ngModel)]="distribuidora" name="distribuidora">
                <option *ngFor="let cidade of cidades" [value]="cidade.vlrTotaTRFConvencional" >
                 {{cidade.sigDistribuidora}}
               </option>
              </select>
            </ion-col>
            <ion-col size-md="3" size="12" class="ion-padding">           
              <ion-button class="fluid ui big disabled primary button" (click)="getREsults()">
                Calcular
              </ion-button>
            </ion-col>
          </ion-row>
          </form>
        <ion-row>
          <ion-col>
          
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
    
          </ion-col>
        </ion-row>

      </ion-grid>

