<ion-grid  >
          <ion-row class="ion-margin-horizontal">
            <ion-col size-md="3" size="12" class="ion-padding">
             <ion-label>Media</ion-label>
              <input type="text">
            </ion-col>
            <ion-col size-md="2" size="12" class="ion-padding">
              <ion-label>Estado</ion-label>
             <select>
               <option></option>
             </select>
            </ion-col>
            <ion-col size-md="4" size="12" class="ion-padding">
              <ion-label>Cidade</ion-label>
              <select>
                <option></option>
              </select>
            </ion-col>
            <ion-col size-md="3" size="12" class="ion-padding">           
              <ion-button>
                Calcular
              </ion-button>
            </ion-col>
          </ion-row>
        <ion-row>
          <ion-col>
          
          </ion-col>
        </ion-row>


        <ion-row>
          <ion-col>
<ion-list>

 
    <ion-item>
      <h3 slot="start">Estimativa</h3>
      <h4 slot="end"> De <span id="precoMinOrcamento"></span> a <span id="precoMaxOrcamento"></span>
      </h4>
    </ion-item>
      <ion-item>
      <h3 slot="start">Economia mensal</h3>
      <h4 slot="end"><span id="economial-mensal"></span></h4>
    </ion-item>
    <ion-item>
      <h3 slot="start">Economia total acumulada em 25 anos</h3>
      <h4 slot="end"><span id="economia-trinta-anos"></span></h4>
    </ion-item>


    
    <ion-item>
      <h3 slot="start">Sistema Indicado</h3>
      <h4 slot="end"><span id="economia-trinta-anos"></span></h4>
    </ion-item>

    <ion-item>
      <h3 slot="start">Economia total acumulada em 25 anos</h3>
      <h4 slot="end"><span id="economia-trinta-anos"></span></h4>
    </ion-item>
    <ion-item>
      <h3 slot="start">Economia total acumulada em 25 anos</h3>
      <h4 slot="end"><span id="economia-trinta-anos"></span></h4>
    </ion-item>
    <ion-item>
      <h3 slot="start">Economia total acumulada em 25 anos</h3>
      <h4 slot="end"><span id="economia-trinta-anos"></span></h4>
    </ion-item>
    <ion-item>
      <h3 slot="start">Economia total acumulada em 25 anos</h3>
      <h4 slot="end"><span id="economia-trinta-anos"></span></h4>
    </ion-item>
    <ion-item>
      <h3 slot="start">Economia total acumulada em 25 anos</h3>
      <h4 slot="end"><span id="economia-trinta-anos"></span></h4>
    </ion-item>
</ion-list>
          </ion-col>
        </ion-row>

      </ion-grid>


