
  <ion-grid fixed>

  <ion-row class="ion-margin-horizontal">
    <ion-col>
    <ion-text color="light"> 
       <h2 class="title">Calcule <span class="white">Online</span></h2>
      <p class="subtitle"> Saiba aqui  o valor estimado de custo e economia.</p>
    </ion-text>
    </ion-col>
  </ion-row>
  <form [formGroup]="form"> 
      <ion-row class="ion-margin-horizontal">
            <ion-col size-md="3" size="12" class="ion-padding">
              <ion-text color="light"> 
               <ion-label>Quakl o valor de sua conta Mensal?</ion-label>
            </ion-text>
             <ion-input
                id="kwh"
                [brmasker]="{money: true, decimal:2}"
               required formControlName="valorContaMensal" 
               name="kwhInput" class="form-control"></ion-input>
             <input type="hidden" value="testeinputhidden" id="metainput">

            </ion-col>
            <ion-col size-md="2" size="12" class="ion-padding">
              <ion-text color="light"> 
                  <ion-label>Estado</ion-label>
                  </ion-text>
             <select (change)="onSelectEstado($event)" formControlName="estado" class="form-control" id="estados"   >
               <option *ngFor="let estado of estados?.data"
                [ngValue]="estado">
                 {{estado.nome}}
               </option>
             </select>
            </ion-col>
            <ion-col size-md="4" size="12" class="ion-padding">
              <ion-text color="light"> 
                  <ion-label>Companhia </ion-label>
                  </ion-text>
              <select id="cia" class="form-control" (change)="onSelectCia()" formControlName="cia" name="distribuidora">
                <option *ngFor="let cidade of service.cidades" [ngValue]="cidade" >
                 {{cidade.sigDistribuidora}}                
               </option>
              </select>
            </ion-col>
            <ion-col size-md="3" size="12" class="ion-padding">           
              <button class="fluid ui big  action disabled primary button" (click)="getREsults()" >
                Calcular
              </button>
            </ion-col>
          </ion-row>
          </form>
        <ion-row>
          <ion-col>
          
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
    
          </ion-col>
        </ion-row>

      </ion-grid>

