:root {
  --ion-color-primary: #e89d4f;
  --ion-color-primary-rgb: 232,157,79;
  --ion-color-primary-contrast: #000000;
  --ion-color-primary-contrast-rgb: 0,0,0;
  --ion-color-primary-shade: #cc8a46;
  --ion-color-primary-tint: #eaa761;

  --ion-color-secondary: #0c3d59;
  --ion-color-secondary-rgb: 12,61,89;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255,255,255;
  --ion-color-secondary-shade: #0b364e;
  --ion-color-secondary-tint: #24506a;

  --ion-color-tertiary: #e4012f;
  --ion-color-tertiary-rgb: 228,1,47;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255,255,255;
  --ion-color-tertiary-shade: #c90129;
  --ion-color-tertiary-tint: #e71a44;

  --ion-color-success: #2dd36f;
  --ion-color-success-rgb: 45,211,111;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255,255,255;
  --ion-color-success-shade: #28ba62;
  --ion-color-success-tint: #42d77d;

  --ion-color-warning: #ffc409;
  --ion-color-warning-rgb: 255,196,9;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0,0,0;
  --ion-color-warning-shade: #e0ac08;
  --ion-color-warning-tint: #ffca22;

  --ion-color-danger: #eb42be;
  --ion-color-danger-rgb: 235,66,190;
  --ion-color-danger-contrast: #000000;
  --ion-color-danger-contrast-rgb: 0,0,0;
  --ion-color-danger-shade: #cf3aa7;
  --ion-color-danger-tint: #ed55c5;

  --ion-color-dark: #002157;
  --ion-color-dark-rgb: 0,33,87;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255,255,255;
  --ion-color-dark-shade: #001d4d;
  --ion-color-dark-tint: #1a3768;

  --ion-color-medium: #92949c;
  --ion-color-medium-rgb: 146,148,156;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255,255,255;
  --ion-color-medium-shade: #808289;
  --ion-color-medium-tint: #9d9fa6;

  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244,245,248;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0,0,0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;
}

$colors: (
  primary:    #3CCF8E,
  secondary:  #0c3d59,
  action:     #5738F5,
  dark:       #174368,
  gray:       #cccccc,
  gray-light: #EDEDED,
  gray-dark:  #989c9e,
  danger:     #f53d3d,
  light:      #ffffff,
  action2:    #201355,
  text-general:  #174368,
  title:  #174368

);

  /*responsive theme*/
  $grid-breakpoints: ( xs: 0, // Phone (0px - 575px)
  sm: 576px, // Phablet (576px - 767px)
  md: 768px, // Tablet vertical (768px - 991px)
  lg: 992px // Tablet horizontal, Desktop (992px and above)
  );
  $grid-max-widths: ( lg: 992px);

// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here

// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here

// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here

// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/v2/ionicons/

//margins-centers
// --------------------------------------------------

.button{
  border-radius: 5px;
}

/*padrão input*/

.datetime,
ion-input {
  border-bottom: 1px solid #00cd8d;
}

.no-border{
  border:0 
}

/*padronização de imagens topo*/

.img-top{
  width: 35.5% !important;;
}

/*responsive theme*/
$grid-breakpoints: (
 xs: 0, // Phone (0px - 575px)
 sm: 576px, // Phablet (576px - 767px)
 md: 768px, // Tablet vertical (768px - 991px)
 lg: 992px // Tablet horizontal, Desktop (992px and above)
);

$grid-max-widths: (
 lg: 992px
);

//
