




<ion-card>
  <ion-card-header>
    <ion-card-title>Calculadora Solar     <button (click)="fechar()" class="closeBtn">
      <i class="fas fa-times"></i>
    </button></ion-card-title>

  </ion-card-header>

  <ion-card-content>
    <iframe src="https://www.portalsolar.com.br/calculo-solar/iframe" style="width:100%;min-height:600px;border-style:none"></iframe>

    <p style="font-size:10px">Desenvolvido por <a target="_blank" href="https://www.portalsolar.com.br">Portal Solar</a></p>
  </ion-card-content>
</ion-card>



